#cont{
    margin: 15px auto;
    width: 100%;
    background-color: blue;
}
#div1{
    margin: 15px auto;
    width: 50%;
    background-color: #d0fdd7;
    color: #614051 ;
    text-align: center;
    border: 5px solid #d0fdd7;
    border-radius: 20px ;
}

#div1 :hover{
    
    transition: all 0.2s;
    border: 10px solid #f8de7e;
    border-radius: 15px 50px;
    background-color: #f8de7e;
    color: #40cfff;
}