body{
  background-image: url(descarga.jfif);
  background-size: cover;
}
.carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}


.carousel-content {
  display: flex;
}

.carousel-content img {
  width: 100%;
  display: none;
}

.carousel-content img.active {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

